<div id="footer-org" class="footer-box">
  <h2>Promoção, organização e realização:</h2>
  <a href="http://softwarelivre.org" id="who-pslbr" target="_blank"><span>Projeto Software Livre Brasil</span></a>
  <a href="http://asl.org.br" id="who-asl" target="_blank"><span>Associação Software Livre Brasil</span></a>
</div><!-- end id="footer-org" -->

<div id="footer-links" class="footer-box">
  <a id="footer-contato" href="mailto:asl@softwarelivre.org">Fale Conosco</a>
  <a id="footer-cc" href="http://creativecommons.org/licenses/by-sa/3.0/br/"><span>Creative Commons 3.0 by-sa Brazil</span></a>
  <br />
  <div id="footer-copyright">
    <span>Desenvolvido pela</span>
    <a id="link-colivre" href="http://colivre.coop.br"
       title="Colivre - Cooperativa de Tecnologias Livres">Colivre</a>
  </div><!-- end id="copyright" -->
</div><!-- end id="footer-links" -->

<br style="clear:both" />

<%
  if @page && !@page.language.blank?
  root = @page.translation_of.nil? ? @page : @page.translation_of
  translations = root.translations + [root]
%>
<script type="text/javascript">
  jQuery(function($) {
    $('#fisl-languages a').attr('href', function(i,v) { return '<%= "/#{profile.identifier}/" %>' + v; });
    <% translations.each do |t| %>
    $('#fisl-languages .flag-<%= t.language %>').attr('href', '<%= url_for(t.url) %>');
    <% end %>
  });
</script>
<% end %>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.colivre.coop.br/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://piwik.colivre.coop.br/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
