<div id="header-content">

  <a id="link-home" href="http://softwarelivre.org/fisl13"><span>fisl 13</span></a>

  <div id="fisl-info">
    <strong id="fisl-data">25 a 28 de julho <br> de 2012</strong>
    <div id="fisl-local">Centro de Eventos da PUCRS <br> Porto Alegre &mdash; Brasil</div>
  </div>

<% if user && profile.admins.include?(user) %>
  <a id="fisl13-controlpanel" href="<%= '/myprofile/' + profile.identifier %>">
    <span class="icon-menu-ctrl-panel">Gerenciar fisl13</span>
  </a>
<% end %>

</div><!-- fim id="header-content" -->
