@import url(../base/style.css);

html {
  background: #404040 url(images/binario-top.png) no-repeat center top;
  padding: 0px;
  margin: 0px;
}

body {
  /* background: transparent; */
  background: url(images/binario-bottom.png) no-repeat right bottom;
  padding: 0px;
  margin: 0px;
}

#user {
  top: -225px;
  right: 0px;
  background: rgba(0,0,0,0.5);
  padding: 2px 5px 0px 25px;
  height: 23px;
  border-radius: 0px 0px 6px 6px;
  color: #CCC;
}
#user a strong {
  color: #FFF;
}
#user form div {
  color: #FFF;
  background: rgba(0,0,0,0.5);
  border-radius: 0px 0px 5px 5px;
  padding: 0px 4px 2px 4px;
  position: absolute;
  right: 2px;
  top: 20px;
  white-space: nowrap;
}

#user form.clean input {
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0.2);
}

#wrap-1 {
  width: auto;
}
#wrap-2 {
  width: auto;
  width: 940px;
  padding: 10px;
  margin: auto;
  border: none;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
  z-index: 2;
  background: #FFF; /* Old browsers */
  background: -moz-linear-gradient(top,  #FFF 80%, #E0E0E0 100%);   /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
               color-stop(80%,#FFF),
               color-stop(100%,#E0E0E0));                           /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFF 80%, #E0E0E0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(     top, #FFF 80%, #E0E0E0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(    top, #FFF 80%, #E0E0E0 100%); /* IE10+ */
  background: linear-gradient(        top, #FFF 80%, #E0E0E0 100%); /* W3C */
}

#theme-header {
  background: url(images/header.png) no-repeat center -50px;
  height: 225px;
}

#header-content {
  width: 960px;
  margin: auto;
  position: relative;
}

#link-home {
  display: block;
  width: 107px;
  height: 200px;
  position: absolute;
  top: 40px;
  left: 93px;
}
#link-home span {
  display: none;
}

#fisl-info {
  position: absolute;
  top: 90px;
  right: 90px;
  padding: 7px 10px;
  border: 3px solid #0C0;
  background: #FFF;
  border-radius: 30px;
  -moz-border-radius: 15px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  text-align: right;
}

#fisl-data {
  color: #0A0;
  font-size: 16px;
  display: block;
  text-align: center;
  padding-bottom: 5px;
}

#site-title, #navigation-end {
  display: none;
}

#navigation {
  background: url(images/menu-top-bg.png);
  font-weight: bold;
  top: 0px;
  width: auto;
}

#navigation ul {
  height: 40px;
  padding: 0px;
}

#navigation li {
  width: auto;
}

#navigation a {
  display: inline-block;
  border: none;
  line-height: 40px;
  color: #FFF;
}
#navigation a:hover {
  background: rgba(0,0,0,0.2)
}

#navigation span {
  padding: 0px 17px;
}

#content {
  margin-top: 50px;
}

#boxes .box-2 {
  margin-top: -50px;
}

.controller-profile_design #boxes .box-2 {
  margin-top: 0px;
}

#content .box-3 .block-title {
  color: #7D7D7D;
  text-align: right;
  border: none;
  font-variant: normal;
}

#content .link-list-block .block-title {
  border: none;
  background: url(images/borboleta.png) no-repeat;
  padding-left: 36px;
  line-height: 36px;
  margin: 0px;
  font-variant: normal;
  font-size: 20px;
  color: #0B0;
}

#content .link-list-block li a {
  background: none;
  padding: none;
  color: #666;
  line-height: 16px;
}
#content .link-list-block li a:hover {
  color: #000;
  background: none;
}

#content .box-3 .slideshow-block .block-title a,
#content .box-3 .slideshow-block .block-title a:visited {
  color: #7D7D7D;
  font-weight: bold;
  text-decoration: none;
}
#content .box-3 .slideshow-block .block-title a:hover {
  text-decoration: underline;
}

.highlights-label {
  font-weight: bold;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  background: none;
}

#content .main-block h1, #not-found h1, #access-denied h1,
#content .blog-post .title a {
  border: none;
  color: #0B0;
}

.blog-post {
  background: none;
}

#theme-footer {
  position: relative;
  background: url(images/rodape.png) no-repeat center -4px;
  height: 220px;
  margin: 0px auto;
}

.footer-box {
  padding: 15px;
  position: absolute;
  top: 30px;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
  color: #666;
  background: #F8F8F8; /* Old browsers */
  background: -moz-linear-gradient(left, #E0E0E0 0%, #FFF 70%, #EEE 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top,
               color-stop(0%,#E0E0E0),
               color-stop(70%,#FFF),
               color-stop(100%,#EEE));                    /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,
               #E0E0E0 0%, #FFF 70%, #EEE 100%);          /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,
               #E0E0E0 0%, #FFF 70%, #EEE 100%);          /* Opera 11.10+ */
  background: -ms-linear-gradient(left,
               #E0E0E0 0%, #FFF 70%, #EEE 100%);          /* IE10+ */
  background: linear-gradient(left,
               #E0E0E0 0%, #FFF 70%, #EEE 100%);          /* W3C */
}

#footer-org {
  left: 0px;
  padding: 10px;
  padding-right: 20px;
}

#footer-org h2 {
  margin: 0px;
  position: relative;
  top: -22px;
  font-size: 11px;
  width: 140px;
  display: inline-block;
  text-align: right;
  font-weight: normal;
}

#footer-org a {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url(images/logo-asl.png) no-repeat center center;
  margin-left: 15px;
}
#footer-org a span {
  display: none;
}

#footer-org #who-pslbr {
  background-image: url(images/logo-pslbr.png);
}

#footer-links {
  right: 0px;
  font-size: 14px;
  width: 300px;
  text-align: right;
}

#footer-contato {
  display: block;
  float: left;
  font-size: 20px;
  line-height: 60px;
  padding: 0px 10px;
}

#footer-cc {
  background: url("images/cc.png") no-repeat;
  display: inline-block;
  height: 31px;
  width: 88px;
}
#footer-cc span {
  display: none;
}

#footer-copyright {
  font-size: 10px;
  line-height: 14px;
  padding-top: 4px;
}

#footer-copyright a {
  border-bottom: 1px dotted #AAA;
}

#theme-footer a {
  color: #666;
  text-decoration: none;
}
#theme-footer a:hover {
  color: #000;
  text-decoration: none;
}

/***** flags block *****/

.raw-html-block .flag-pt,
.raw-html-block .flag-es,
.raw-html-block .flag-eo,
.raw-html-block .flag-en,
.raw-html-block .flag-it {
  width: 21px;
  height: 16px;
  display: block;
  float: right;
  margin-left: 10px;
  background: no-repeat center center;
}

.raw-html-block .flag-pt {
  background-image: url(images/brasil.png);
}

.raw-html-block .flag-es {
  background-image: url(images/espanha.png);
}

.raw-html-block .flag-eo {
  background-image: url(images/esperanto.png);
}

.raw-html-block .flag-en {
  background-image: url(images/england.png);
}

.raw-html-block .flag-it {
  background-image: url(images/italia.png);
}

.raw-html-block #fisl-languages {
  height: 30px;
}

.raw-html-block #fisl-languages span {
  display: none;
}

/***** control panel button *****/

#fisl13-controlpanel {
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: #FFF;
  border:2px solid #CCC;
  padding: 5px;
  color: #00BB00;
}

#fisl13-controlpanel span {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 2px 0px 2px 20px;
}

/***** Articles *****/

#article .sponsor-type {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 5px;
  color: #555753;
  background-color: #CCC;
}
